.confetti-wrapper {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: #ffffff;
}

.confetti {
    width: 15px;
    height: 15px;
    background-color: #e71b30;
    position: absolute;
    animation: confetti 5s ease-in-out -2s infinite;
    transform-origin: left top;

}

.confetti:nth-child(2n) {
    background-color: #1d2ddb;
}

.confetti:nth-child(3n) {
    background-color: #15c848;
}

.confetti:nth-child(4n) {
    background-color: #dbbf0c;
}

.confetti:nth-child(5n) {
    background-color: #229a6e;
}



@keyframes confetti {
    0% {
        transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
    }

    25% {
        transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
    }

    50% {
        transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
    }

    75% {
        transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
    }

    100% {
        transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
    }
}